In [17]:
# Q. take a number from 2 to 5 and print its table
# 2
# num=int(input("Enter num : "))
num=2
for i in range(1,11):
    print(num*i)

2
4
6
8
10
12
14
16
18
20

In [21]:
# Q. take a number from 6 to 2 and print its table in reversse.
# num=int(input("Enter num : "))
num=2
for i in range(10,0,-1):
    print(num*i)

20
18
16
14
12
10
8
6
4
2

Enter num :  3

Prime num

In [111]:
# Q. Check a number is a prime not.
num=int(input("enter the number"))
for i in range(2,num):
    if num%i==0:
        print(' not Prime')
        break
else:
    print('Prime')

enter the number 6

 not Prime

In [167]:
for num in range(2, 20):  
    for i in range(2, num):  
        if num % i == 0:  
            # print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number

In [159]:
for i in range(1,5):
    for j in range(1,6-i):
        print("*",end="")
    print()

****
***
**
*

In [165]:
for i in range(1,5):
    for j in range(1,5-i):
        print("$",end="")
    for k in range(1,i+1):
        print("*",end="")
    print()

$$$*
$$**
$***
****